*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
header{
    padding:20px;
}
#titulo-logo{
    text-shadow: 1px 1px 1px rgb(34, 0, 255);
}
.logo-title{
    display: flex;
    align-items: center;
    padding-left:40px;
}
nav .navbar-nav{
    justify-content:end;
}
.navbar-collapse {
    justify-content:end;
    padding-right: 80px;
}
.nav-link {
    color:black;
    cursor: pointer;
    font-size: larger;
}
.navbar,.navbar-expand-lg,.navbar-light{
    margin-left:47px;
}
.modal-body{
    display: flex;
    padding: 40px;
}
.img-modal{
    border-radius:80px;
}
.modal-header{
    text-shadow: 1px 1px 1px #fff;
    background-color: rgb(235, 97, 97);
}
.modal-title{
   font-weight: 800;
   padding-left: 40%;
}
input[type="text"]{
    width:80%;
    border-radius: 70px;
    padding: 5px;
}
#button-footer{
    width:100%;

}

blockquote{
    display:flex;
    justify-content: flex-start;
    background-color: rgb(212 234 254 / 19%);
    height:100px;
    padding-left:5px;
    padding-top: 20px;
}

.card{  
    border:0px;
    align-items:center;
}
.card-img-top{
    width:60%;
}
.card-body{
    width:60%;
}
footer{
    background-color: rgba(0, 0, 0, 0.744);
    box-shadow: 1px 1px 1px #fff inset;
    padding: 90px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;

}
.contenido1{
    padding:20px;
    color:white;
    font-weight: 700;
    width:80%;
    font-size: large;
}
.title{
    text-decoration-line: darken;
    text-decoration: underline;
    text-shadow: 0 1px 0 rgb(20, 1, 1);
    font-size:larger;
}
.contenido2{
    color:white;
    font-weight: 700;
    text-align: center;
    padding-top:30px;
}
.redesSociales{
    display:flex;
    justify-content:center;
}
.img-redes{
    border-radius:60px;
    width:30px;
    height:30px;
    margin-right: 10px;
    cursor: pointer;
}
.img-contacto{
    border-radius:60px;
    width:30px;
    height:30px;
    margin-right: 10px;
    cursor: pointer;

}
.contenido3{
    color: white;
    padding-top: 20px;
    font-weight: 700;
    margin-left: 25%;
}
.contacto{
    display:flex;
}
.seccion-contacto{
    display:block;
    text-align: center;

}
.form-section{
    background-color: aliceblue;
}
.form{
    padding: 65px;
}
.agregarComentario{
    padding: 50px;
    text-align: center;
}
.contenedor-cometarios{
    padding: 50px;
}
.contenido-comentario{
    padding: 15px;
    margin-top:5%;
}
.img-comentario{
    float: left;
}
.texto-comentario{
    margin-left: 15%;
}
@media screen and (max-width:765px){
    .navbar, .navbar-expand-lg, .navbar-light {
        margin-left: 63px;
    }
}
@media screen and (max-width:765px){
    .contenido1{
        padding:10px;
        color:white;
        font-weight: 700;
        margin-left: 15%;
        border-bottom: 1.5px solid white;
        font-size: small;
    }
    .contenido2{
        padding: 20px;
        color:white;
        font-weight: 700;
        text-align: center;
        border-bottom: 1.5px solid white;
        font-size: small;
    }

    .contenido3{
        padding: 20px;
        color: white;
        font-weight: 700;
        margin-left: 10%;
        font-size: 10px;
        width: 100%;
        border-bottom: 1.5px solid white;


    }
}